@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
  }

  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: #000;
    color: white;
    -webkit-font-smoothing: antialiased;
  }
}